@{
    ViewBag.Title = "Inicio";
}

<div class="text-center">
    <!-- Logo -->
    <img src="~/Content/Imagenes/SBSLogo.png" alt="LogoSBS" style="max-width: 200px; margin-bottom: 20px;" />

    <!-- Título -->
    <h1 class="mb-3" style="color: #221d42; font-weight: 700;">Bienvenido al Sistema SBS</h1>

    <!-- Mensaje -->
    <p class="lead mb-4" style="color: #1788ca;">
        Gestiona fácilmente todos los procesos de recursos humanos y nómina desde un solo lugar.
    </p>

    <!-- Botones -->
    <div>
        <a href="/Empleados" class="btn btn-principal me-3 px-4 py-2 fs-5">
            <i class="bi bi-people-fill me-2"></i> Empleados
        </a>
        <a href="/Nominas" class="btn btn-secundario px-4 py-2 fs-5">
            <i class="bi bi-cash-stack me-2"></i> Nóminas
        </a>
    </div>
</div>
